body {
    background-color: rgba(7, 7, 7, 150);
}

.titleBar {
    display: flex;
    justify-content: center;
    align-items:  center;
}

.title {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.title::after, .title::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff7575, #a0ffa0, #2828ff, #ff6767);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.title::before {
    filter: blur(1.5em);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.navBar {
    display: flex;
    justify-content: center;
    align-items:  center;
}

a {
    text-decoration: none;
    color: inherit;
}

.navList {
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
.navList li{
    display: inline;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    position: relative;
}
.navList li:hover {
    cursor: pointer;
}

.home::after, .about::after, .contact::after, .profile::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 120%;
    border-radius: 20px;
    background: linear-gradient(to right, purple, blue);
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 100ms;
    transform: translate(-5px, 0);
}
.home:hover::after, .about:hover::after, .contact:hover::after, .profile:hover::after {
    height: 100%;
}